.principal {
	width: 100%;
	padding-top: 10px;
}

.principal img {
	display: block;
	margin: 0 auto;
	-webkit-box-shadow   : 0 0 8px 4px rgba(0, 0, 0, .5);
	box-shadow           : 0 0 8px 4px rgba(0, 0, 0, .5);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}